<div class="container">

  <div class="row mt-5">
    <p class="display-1 mx-auto text-center">About</p>
  </div>

  <div class="row mt-3">
    <p class="lead mx-auto text-center">ながのCAKEは全国発送可能なケーキ屋さんです。</br>
    お子様からお年寄りの方までお召し上がりいただけるよう、</br>
    様々なバリエーションをご用意しております。</br>
    また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。</br>
    ぜひご注文ください。</p>
  </div>
  <%= image_tag 'cake.jpeg' ,size: "800x533", class: "mx-auto" %>
</div>
